# Archivos y carpetas de Eclipse
*.classpath
*.project
.settings/
.metadata/

# Archivos compilados
/bin/
/target/
/out/

# Logs
*.log

# Sistema operativo
.DS_Store
Thumbs.db

# Archivos generados de IntelliJ
.idea/
*.iml

# Maven Wrapper logs
.mvn/
mvnw
mvnw.cmd

# Evitar duplicados
/demo/bin/
